
    {% extends 'base.html' %}
    {% load static %}
    
    {% block content %}
    {{ block.super }}
  
      
    
     
      <div class="container">
      <div class="row">
      
        {% for image in all_images %}
        <!-- <div class="col-md-6"> -->
    <div class="col-md-4">
       <link rel="stylesheet" type="text/css" href="search.css">
        <a href="{{image.image_path.url}}" data-fancybox="images"  data-caption="
            </h5>NAME:{{image.name}}</h5>
            <p> DESCRIPTION:{{image.description}}</p>  
           <p>LOCATION:{{image.image_location}} </p> 
           <p>CATEGORY:{{image.image_category}} </p>
            <button class='btn btn-outline-success'  onclick=copyLink('{{image.id}}_theurl_id')>Copy Image Link</button>">  
                      
    
        <img src="{{image.image_path.url}}" alt="{{image.name}}" height="200px" style="margin-top: 10px;">   
      </div>
        
        {% endfor %}
      </div>


        
     
      </div>
     
    
    
    
    
    {% endblock %}
    
    